body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    touch-action: manipulation;
    width: 100%;
}
.header{
    position: fixed;
    z-index: 1;
    background-color: rgba(135, 207, 235, 0.95);
    color: white;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 9%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.header h1.logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    margin: auto;
    padding-left: 20px;
}
.header h2{
    display: block;
    position: absolute;
    float: right;
    margin: 0;
    padding-right: 20px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.body{
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 91%;
}
#questionT{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    border-spacing: 10px 30px;
    width: 500px;
    height: 400px;
}
.selects{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    height: 15%;
    background-color: rgba(0, 225, 255, 0.192);
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.582);
    border-radius: 5px;
    transition: 100ms;
}
.selects:hover{
    background-color: rgba(0, 225, 255, 0.363);
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.39);
    border-radius: 7px;
    transition: 200ms;
}
#question{
    font-size: 70px;
    box-shadow: 0px 0px 6px gray;
}
a{
    text-decoration: none;
    color: white;
}
#downloadfile{
    color: black;
}
label > input{
    display: none;
}
.wordstitle{
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.wordstitle h1{
    text-align: left;
    margin-bottom: 0px;
    padding-left: 20px;
    color: rgb(0, 129, 204);
}
.wordstitle hr{
    margin-top: 0px;
    height: 3px;
    border: none;
    background-color: rgb(0, 129, 204);
}
#wordstable{
    text-align: left;
    font-size: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 70%;
}
#wordsview{
    top: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 100%;
}
#wordsview tr td{
    width: 50%;
    padding: 10px 30px;
}
#wordsview hr{
    width: 200%;
    margin: 0px;
    height: 1px;
    border: none;
    background-color: rgb(0, 129, 204);
}
noscript{
    position: relative;
    display: block;
    background-color: rgba(43, 43, 43, 0.99);
    width: 40%;
    left: 50%;
    height: 40px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(20, 20, 20);
}
noscript p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
input[type="text"]{
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(0, 129, 204);
    border: 2px solid rgb(0, 129, 204);
    border-radius: 10px;
    padding: 5px;
    transform: translateY(10px);
}
#searchCondition, .cndbtn{
    position: absolute;
    padding: 5px;
    left: calc(15% - 7px);
    background-color: white;
    width: 20%;
    font-size: 16px;
    scale: scale(calc(15 / 16));
    border: 2px solid rgb(0, 129, 204);
    outline: 0;
    height: 30px;
}
.cndbtn{
    width: 10%;
    left: calc(15% - 7px + 20%);
    padding: 0;
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
}
.addwordField{
    position: absolute;
    width: 70%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    color: white;
    background-color: rgba(20, 20, 20, 0.9);
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(20, 20, 20);
}
.addwordField div{
    width: 100%;
    height: 40%;
}
.word{
    position: absolute;
    top: 0;
}
.wordmean{
    position: absolute;
    top: 40%;
}
.wordmean h1{
    margin-top: 10px !important;
}
.addwordField div h1{
    position: relative;
    margin: 0;
    margin-top: 30px;
    margin-bottom: -10px;
    text-align: left;
    padding-left: 30px;
}
.addwordField div input[type="text"]{
    position: relative;
    width: 90%;
}
.addbutton{
    position: absolute;
    height: 20% !important;
    top: 80%;
}
.addbutton input[type="button"]{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    width: 50%;
    font-size: 30px;
    background-color: white;
    border: 3px solid rgb(0, 129, 204);
    border-radius: 10px;
    -moz-cursor: pointer;
    cursor: pointer;
    -webkit-cursor: pointer;
}
.addbutton input[type="button"]:active{
    background-color: rgb(0, 129, 204);
    color: white;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .header {
        background-color: rgba(135, 207, 235, 0.7);
    }
}
@-moz-document url-prefix() {
    .header{
        background-color: rgba(135, 207, 235, 0.95);
    }
}
@media screen and (max-width:339px) {
    .selects{
        font-size: 15px;
    }
}
@media screen and (max-width:320px) {
    .selects{
        font-size: 14px;
    }
}
@media screen and (max-width:639px) {
    .addwordField{
        background-color: white;
        box-shadow: none;
        color: black;
        width: 100%;
        height: 80%;
    }
    #questionT{
        width: 95%;
        height: 80%;
    }
    input[type="text"]{
        width: 80%;
    }
    #searchCondition{
        left: calc(10% - 7px);
    }
    #searchCondition, .cndbtn{
        width: calc(40% + 7px);
    }
    .cndbtn{
        left: 50%;
    }
    #wordstable{
        width: 100%;
        font-size: 20px;
    }
    .wordstitle{
        width: 100%;
    }
    #wordstable tr td{
        width: 50%;
    }
    #mean{
        position: relative;
        left: -5%;
        width: 60% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    noscript{
        width: 90%;
    }
}
@media (prefers-color-scheme: dark) {
    body{
        background-color: rgb(20, 20, 20);
        color: white;
    }
    .selects{
        box-shadow: none;
    }
    .selects:hover{
        box-shadow: none;
    }
    .header{
        background-color: rgba(54, 102, 121, 0.95);
    }
    #question{
        box-shadow: none;
        border: 2px solid white;
    }
    #downloadfile{
        color: white;
    }
    input[type="text"]{
        background-color: rgb(20, 20, 20);
    }
    #searchCondition, .cndbtn{
        background-color: rgb(20, 20, 20);
        color: white;
    }
    noscript{
        background-color: rgba(255, 255, 255, 0.99);
        color: black;
        box-shadow: none;
    }
    .addwordField{
        background-color: rgb(20, 20, 20);
        color: white;
        border: 3px solid white;
    }
    @media screen and (max-width:639px) {
        .addwordField{
            border: none;
        }
    }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        .header {
            background-color: rgba(54, 102, 121, 0.6);
        }
    }
    @-moz-document url-prefix() {
        .header{
            background-color: rgba(54, 102, 121, 0.95);
        }
    }
}